<form id="switch-array" hx-ws="send:submit">
  <table>
    <tr>
      {% for throw in switch.throws %}
      <td>
	<div class="bg-{% if switch.is_active(throw) %}red{% else %}blue{% endif %}-500 hover:bg-{% if switch.is_active(throw) %}red{% else %}blue{% endif %}-700 rounded">
	  <button class="text-white text-4xl font-bold py-2 px-4 rounded" name="pole" type="submit" value={{throw}}>
	    {{ throw }}
	  </button>
	</div>
      </td>
      {% endfor %}
    </tr>
  </table>
</form>
