<!doctype html>
<html>
  <title>418 I'm not a teapot</title>
  <h1>I'm not a teapot</h1>
  <p>You're trying to make me do something I cannot do.</p>
  <p>Throw <code>{{ requested_throw }}</code> not in allowed list
    <code>[ {{ switch.throws | join(",") }}]</code>.</p>
</html>
